#game-controls-container {
    margin-top: 1%;
    text-align: center;
}

#game-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-counter-container {
    text-align: center;
}