#mode-select {
    display: inline-block;
}

#mode-controls {
    display: inline-block;
}

#play-button {
    width: 3em;
}

#reset-button {
    width: 3em;
}

#epsilon, #epsilonMax, #epsilonMin {
    width: 3.8em;
}

#maxSteps {
    width: 4em;
}

#updateFreq {
    width: 3.5em;
}

#episodes {
    width: 5.5em;
}

#batchSize {
    width: 4em;
}

.labeled {
    margin-left: 0 !important;
}

label {
    margin-right: 0 !important;
}

.control {
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

#controls-container {
    margin-top: 1%;
    text-align: center;
}

#controls-box {
    display: inline-block;
}

#static-controls {
    display: block;
    margin-bottom: 0.9em;
}

#game-container {
    margin-top: 3%;
    text-align: center;
}